*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}

#juego{
  width:100%;
  height:100vh;
  background: linear-gradient(rgba(0,0,0,0.445),
  rgb(0,0,0,0.411)), 
  url("https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_MarioKart8Deluxe_image1600w.jpg")no-repeat center / cover ;
  color:white;
}

.container{
  width: 90%;
  height:100%;
  max-width:1200px;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .info h1 {
  font-size: 3rem;
  margin-bottom:1rem;
}
.container .info h2 {
  font-size: 1.5rem;
  margin-bottom:2rem;
}

.container .info p {
  font-size: 1.2rem;
  max-width: 60%;
}

.container .info a {
 text-decoration:none;
 display:inline-block;
 background-color: white;
 border-radius: 4px;
 font-size: 1.8rem;
 padding:0.5em 2em;
 margin-top:2rem;
 color: orangered;
}

@media only screen and (max-width:768px){
  html{
    font-size: 10px;
  }
}